:root {
  --size-board: 300px;
  --square-size: 100px;
  --square-amount: 3;
}

.square{
  background-color: aqua;
  height: var(--square-size);
  width: var(--square-size);
  font-size: var(--square-size);
  text-align: center;
}

.gameboard{
  width: var(--size-board);
  height: var(--size-board);
  display: grid;
  grid-template-columns: repeat(var(--square-amount), var(--square-size));
}
